html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #ffc153;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container-home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 580px;
}

.card-img-top {
    position: relative;
    width: 305px;
    height: 457px;
}

.card-img-top img {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}

.card-img-top::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.1s ease-in;
    border-radius: 0.25rem;
}

.card:hover .card-img-top::after {
    background-color: rgba(105, 77, 27, 0.3);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}